ul{
    border-radius:0 20px 20px 0 !important;
}
nav li{
    border:0px solid transparent !important;
    &:hover{
        background-color: $colorMorado !important;
        border-radius: 0 20px 20px 0;
        a{
            color: white !important;
        }
    }
}
nav a{
    text-decoration: none !important;
    color: $colorMorado !important;
    font-weight: bold;
}
aside img{
    width:50px;
    height:45px;
    min-width:50px;
    min-height:45px;
}