h1,h2,h3,h4,h5{
    color: $colorMorado;
    display: inline;
}
h6{
    display: inline;
    font-weight: lighter !important;
    font-size:.90rem;
    font-style: italic;
}
aside h5,h4{
    display: block;
}
aside h5{
    color: black;
    font-size:.90rem;
}